/* global variables */
:root{
    --light-color: #fff;
    --dark-color: #282828;
    --header-height: 70px;
    --search-height: 50px;
    --border-color: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--light-color);
    overflow: hidden;
    overflow-y: auto;
    background-image: url("https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-dishes-top-view-close-up-153149838.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    text-align: center;
    height: calc(100vh - var(--header-height));
}

header{
    height: 100px;
    height: var(--header-height);
    background: var(--dark-color);
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    justify-content: center;
    color: var(--light-color);
    gap: 10px;
    padding-right: 30px;
}

header img{
    width: 50px;
    height: 50px;
    filter: invert(1);
    /* background-image: var(--dark-color); */
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--search-height);
    gap: 10px;
    box-shadow: 0px 2px 8px 0px var(--border-color);
    background-color: #fff;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 500px;
}


.search input[type="text"]{
    padding: 8px 10px;
    line-height: 1.5;
    font-size: 1rem;
    border: none;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    outline: none;
    transition: all 200ms ease-in-out;
    width: 100%;
}

.search input[type="text"] {
    color: black;
}

.search input[type="text"] :focus{
    border-left-color: transparent ;
    border-bottom-color: var(--border-color);
    width: 100%;

}

.btn{
    padding: 8px 20px;
    background: transparent;
    border-radius: 12px;
    user-select: none;
    font-size: 1rem;
    border: 1px solid #007bff;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover{
    background: #007bff;
    /* border-color: var(--dark-color); */
    color: var(--light-color);
}

#recipe-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - (var(--header-height) + var(--search-height) ));
    overflow: hidden;
    overflow-y: auto;
}


  

.recipe{
    height: 300px;
    width: 300px;
    padding: 8px;
    box-shadow: 0px 0px 8px 2px var(--border-color);
    margin: 20px;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    background-color: rgb(26, 46, 75);

}

.recipe-title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.recipe-image{
    height: 210px;  
}

.recipe-image img{
    height: 100%;
    width: 100%;  
}

.recipe-description{
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
    background: #f3fcfb;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: auto;
    transform: scale(.8);
    transform-origin: top left;
}
.recipe-title, .recipe-description {
    color: #fff;
  }

.recipe-description {
    color: #000000;
}


.recipe-description ul{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding: 5px ;
}

.recipe-description ul > li{
    padding: 5px ;
}

.recipe:hover .recipe-description{
    height: 120px;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.recipe:hover{
    height: 420px;
}

::selection{
    color: var(--light-color);
    background: rgb(30, 129, 30);
}

